# Ignore everything in this directory
#*
# Except this file
#!.gitignore
.github
.vscode
.editorconfig
.idea
*/__pycache__
**/*.ini
venv
bin
logs
images
tests/testui.py
tests/configs/*.ini
**/.gitignore
